<h1>Welcome</h1>
<p>Welcome to Web Stories 1.0.0</p>
<p>Post stories from the best and worst of your web development career and post them to be read by the world or completely private for your eyes only.</p>

{{#if user}}

{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fab fa-google left"></i>Login With Google</a>
{{/if}}